

:root{
    --green-color: #286F6C;
    --accent-color: #F26440;
    --light-pink: #fef2f2;
    --dark-color: #adadad;
    --beige:#f9f5f2;
    --light-blue: #d4e1e2;
}

 *{
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }
 
 header{
     background-color: var(--light-pink);
     position: relative;
 }
 
 body{
     font-family: 'Inter', sans-serif;  
     background-color: #ffffff;
     font-size: 18px;
 }

 nav{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0.5rem 1.25rem;  
    align-items: center;
    text-align: center;
    margin: bottom 1.5rem;
}

input#menu-hamburguesa{
    height: 24px;
    width: 24px;
    visibility: hidden;
    border-radius: 50%;
    background-color: var(--accent-color);
}


input#menu-hamburguesa~ul{
    background-color: var(--light-pink);
    position: absolute;
    list-style: none;
    width: 100%;
    left: 0;
    height: calc(100vh - 60px);
    top: 60px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
    display: none;
}


input#menu-hamburguesa:checked ~ ul{
    display: flex;
}

nav > ul > li > a{
    text-decoration: none;
    transition: border-bottom .5s linear;
    color: black;
    padding: .5rem 1rem;
    border-bottom: 2px solid transparent;
    margin: bottom 2px; 
}

nav > ul > li > a:hover{
    border-bottom: 2px solid var(--green-color);
}

.section-titulo{
    display: flex;
    padding-left: 5%;
   font-size: 50px;
}

h1{
    font-size: 60px;
    font-weight: semibold;
}
.section-header{
    display: flex;
    justify-content: center;
    padding-left: 5%;
}

.contenedor-logos{
    padding-left: 3.5rem;
}

h2{
    display: flex;
    padding-left: 3%;
    color: var(--green-color);
    font-size: 40px;
    font-weight: 600; 
}
.section-acerca > p{
    display: flex;
    padding-left: 5%;
    color: var(--dark-color);
    font-size: 20px;
}

.section{
    padding: .7rem;
}
.section>h2{
    font-size: 32px;
    font-weight: 700px;
}

.letras-home{
    color: var(--green-color);
    font-weight: bold;
}



.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    background-color: var(--accent-color);
    border-radius: 50%;
    border-color: #ffffff;
    border-style: solid;
    border-width: 2px;
}

.imagen-chica > img{
width: 450px;
}

.circulo1{
    display: flex;
    position: absolute;
        width: 420px;
        height: 420px;
        border: 1px solid black;
        border-radius: 50%;
        background-color: var(--green-color);
        border-color: var(--green-color);
}






body > p{
color: var(--dark-color);
font-size: 16px;
}

.circulo2,
.circulo4{
    display: flex;
    width: 370px;
    height: 370px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: var(--green-color);
    border-color: var(--green-color);
}

.circulo3{
    display: flex;
    width: 180px;
    height: 180px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.contenedor-habilidades{
    display: flex;
    align-items: center;
    gap:1rem;
    justify-content: space-between;
    max-width: 100vw;
    overflow-x: scroll;
    padding: 2rem;
    justify-content: center;
}


.habilidades-card>img{
    width: 35px;
height: 35px;
object-fit: contain;
margin-bottom: .5rem;
}

.habilidades-card{
    width:200px;
    padding: 1.5rem 1rem;
    background-color: var(--light-pink);
    text-align: center;
    min-width: 220px;
    text-align: left;
}

.años{
    color: black;
    font-weight: bolder;
    font-size: 20px;
}
.parrafo{
    display: flex;
    flex-direction: row;
}

.contenedor-1{
    display: flex;
    align-items: center;
    text-align: left;
    padding: 2rem;
    justify-content: space-around;
}

.contenedor-2{
    display: flex;
    align-items: center;
    text-align: left;
    padding: 2rem;
    justify-content: space-around;
}

.contenedor-3{
    display: flex;
    align-items: center;
    text-align: left;
    padding: 2rem;
    justify-content: space-around;
}

p{
    font-size: smaller;
}

.fondo-verde{
    background-color: var(--green-color);
    color: #ffffff;
    font-size: 16px;
    font-weight: normal; /*es el semibold*/
}

.section-portafolio{
    padding: 5%;
}
.section-portafolio > h2{
    font-size: 32px;
    font-weight: 700px;
    color:white;
    padding:0%;
    }

.fondo-fitness{
    display: block;
    background-color: #ffffff;
    border-radius: 2%;
}

.imagen-fitness{
    display: flex;
    justify-content: center;
    padding: ;
}

.fondo-fitness-2{
    background-color: #ffffff;
    border-radius: 2%;
}
   
    
.circulo4{
    background-color:  var(--light-blue);
    border-color:  var(--light-blue);
}
.contenedor-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    justify-content: space-around;
}

.contenedor-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    justify-content: space-around;
}



.logos-grandes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    background-color: var(--accent-color);
    border-radius: 50%;
    border-color: #ffffff;
    border-style: solid;
    border-width: 2px;
}

.titulos-verdes{
    font-size: 14px;
    color:var(--green-color);
    font-weight: bold;
}

.letras-grises{
    font-size: 16px;
    color: var(--dark-color);

}

.contenedor-contacto{
display: flex;
justify-content: center;
gap:1rem;
padding: 2rem;
}


footer{
    color:var(--accent-color);
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}











@media screen and ( min-width:860px ) {
    nav label{
        display: none;
    }

    input#menu-hamburguesa ~ ul{
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-end;
        list-style: none;
        margin-left: 1rem;
        padding: 1.5rem 1rem;
    }

    nav > ul > li > a{
        text-decoration: none;
        transition: border-bottom .5s linear;
        color: black;
        padding: .5rem 1rem;
        border-bottom: 2px solid transparent;
    }
    
    nav > ul > li > a:hover{
        border-bottom: 2px solid var(--green-color);
    }

    .section-titulo{
        padding-left: 8%;
    }
    .section-header{
        display: flex;
        justify-content: center;
    }

    .section{
        padding: 1rem 7rem;
    }  


    .section-experiencia{
        padding: 1rem 3rem;
    }

    .section-portafolio{
        display: flex;
        flex-direction: flex-end;
    }

    .section-portafolio > h2{
        font-size: 40px;
        font-weight: 700px;
        color:white;
        display: inline-block;
        }

    .section-contacto{
        padding: 1rem 3rem;
    }

    .section-acerca > p{
        padding: 0 3rem;
    }
   
} 




@media screen and ( min-width:1024px ){
    .contenedor-logos{
        display: flex;
        flex-direction: row;
    }


    .logos{
        display: flex;
        height: 57px;
        width: 57px;
    }

    .section-titulo{
        padding-left: 13%;
    }

    .section{
        padding: 1rem 11rem;
}

.section>h2{
    font-size: 40px;
}

.section-contacto{
    padding: 1rem 1.5rem;
}

.section-acerca > p{
    font-size: 24px;
    padding: 0 3rem;
}

.años{
    font-size: 24px;
}

}

@media screen and ( min-width:1189px ){
    .contenedor-experiencia{
        display: flex;
        flex-direction: row;
    }

    .contenedor-2{
        display: flex;
        padding: 0 .5rem;
    }


}